.top-bar
{
    background: #f2f2f2;
    border-bottom: 1px solid #efefef;
    -webkit-box-shadow: 0px 3px 5px -1px rgba(68,68,68,1);
    -moz-box-shadow: 0px 3px 5px -1px rgba(68,68,68,1);
    box-shadow: 0px 3px 5px -1px rgba(68,68,68,1);
    z-index: 10;
}

    .top-bar .name h1 a
    {
        color: #111111;
        font-family: 'Anton', sans-serif;
        padding: 0;
    }

    .top-bar .toggle-topbar a
    {
        color: #111111;
        font-family: 'Anton', sans-serif;
    }

    .top-bar .toggle-topbar.menu-icon a
    {
        color: #111111;
    }

.top-bar-section ul li
{
    background: #efefef;
}

    .top-bar-section ul li > a
    {
        color: #111111;
        font-family: 'Anton', sans-serif;
        font-size: 1rem;
    }

.top-bar-section li:not(.has-form) a:not(.button)
{
    background: #f2f2f2;
    line-height: 44px;
}

    .top-bar-section li:not(.has-form) a:not(.button):hover
    {
        background-color: #ededed;
        background: #efefef;
        color: #111111;
    }

.top-bar-section li.active:not(.has-form) a:not(.button)
{
    color: white;
    background: #007ec2;
}

    .top-bar-section li.active:not(.has-form) a:not(.button):hover
    {
        background: #006ca7;
        color: white;
    }

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"]
{
    border-right: solid 1px #ededed;
}
/*TOP BAR MAVI*/

.top-bar.blue-bar
{
    background: #00507b;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    z-index: 1;
    height: 65px;
    -webkit-box-shadow: 0px 3px 5px -1px rgba(68,68,68,1);
    -moz-box-shadow: 0px 3px 5px -1px rgba(68,68,68,1);
    box-shadow: 0px 3px 5px -1px rgba(68,68,68,1);
}

    .top-bar.blue-bar .name h1 a
    {
        color: #efefef;
    }

    .top-bar.blue-bar .toggle-topbar a
    {
        color: #efefef;
    }

    .top-bar.blue-bar .toggle-topbar.menu-icon a
    {
        color: #efefef;
    }

.top-bar-section.blue-bar ul.left
{
    margin-left: 250px;
}

.top-bar-section.blue-bar ul li
{
    background: #efefef;
}

    .top-bar-section.blue-bar ul li > a
    {
        color: #efefef;
        font-size: 1.1rem;
        font-weight: 300;
        letter-spacing: .1rem;
    }

.top-bar-section.blue-bar li:not(.has-form) a:not(.button)
{
    background: #00507b;
    line-height: 65px;
}

    .top-bar-section.blue-bar li:not(.has-form) a:not(.button):hover
    {
        background: #166c9a;
        color: #efefef;
    }

.top-bar-section.blue-bar li.active:not(.has-form) a:not(.button)
{
    color: white;
    background: #007ec2;
}

    .top-bar-section.blue-bar li.active:not(.has-form) a:not(.button):hover
    {
        background: #006ca7;
        color: white;
    }

.top-bar-section.blue-bar > ul > .divider, .top-bar-section > ul > [role="separator"]
{
    border-right: solid 1px #006ca7;
    height: 65px;
}

@media only screen and (max-width: 50em)
{
    .top-bar-section ul li > a
    {
        font-size: .7rem !important;
    }


    .top-bar-section.blue-bar ul.left
    {
        margin-left: 0;
    }

    #hForMobile
    {
        height: 40px !important;
        display: block !important;
    }

    #hForDesktop
    {
        display: none;
    }
}
